/* @import url("https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@200;300;400;700&family=Lato:wght@300;400&family=Spline+Sans+Mono:ital,wght@0,300;0,400;0,600;1,300&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@200;300;400;700&family=Lato:wght@300;400&family=Nanum+Gothic&family=Spline+Sans+Mono:ital,wght@0,300;0,400;0,600;1,300&display=swap");

/* font-family: 'Hepta Slab';, serif; ExtraLight 200, Light 300, Regular 400, Bold 700
font-family: 'Lato', sans-serif; light 300, Regular 400
font-family: 'Spline Sans Mono;', monospace;Light 300, Light 300 Italic, Regular 400, Semibold 600 */
/* h1 {
  margin-top: -5em;
  text-align: center;
} */

html,
body {
  height: 100%;
}

main {
  flex-grow: 1;
  /* height: 100%; */
  padding: 0px 10px;
  margin-top: 19em;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: "Nanum Gothic", sans-serif, serif, cursive, "Times New Roman",
    Times, serif, Verdana, Geneva, Tahoma, sans-serif;
  /* font-family: "Hepta Slab", serif, cursive, "Times New Roman", Times, serif,
    Verdana, Geneva, Tahoma, sans-serif; */
  background-color: #262626;
}

.Container {
  max-width: 1100px;
  margin: 15px auto;
}

/* :root {
  --primary-color: #fff091;
  --secondary-color: #000000;
  --third-color: white;
  --links-color: blue;
} */
/* :root {
  --primary-color: #3c352f;
  --secondary-color: #9a8b78;
  --third-color: white;
  --links-color: blue;
} */
:root {
  --primary-color: #9a8b78;
  --secondary-color: #3c352f;
  --third-color: white;
  --links-color: blue;
}
/* :root {
  --primary-color: #96fce5;
  --secondary-color: #00574d;
  --third-color: white;
  --links-color: blue;
} */

/* :root {
  --primary-color: #a0e087;
  --secondary-color: #0e3303;
  --third-color: white;
  --links-color: blue;
} */
/* :root {
  --primary-color: #ffab24;
  --secondary-color: #023901;
  --third-color: white;
  --links-color: blue;
} */
/* :root {
  --primary-color: #96fce5;
  --secondary-color: #00574d;
  --third-color: white;
  --links-color: blue;
} */

/* :root {
  --primary-color: #00ffe1;
  --secondary-color: #4d2701;
  --third-color: white;
  --links-color: blue;
} */
.form-error {
  background: rgb(221, 88, 88);
  color: rgb(107, 9, 9);
  padding: 0.4rem 1rem;
}

/* Header Section */

.logo img {
  height: 120px;
  position: relative;
  /* right: 15%; */
  margin: 0 50px;
}
/* .adminSection {
  position: relative;
  left: 0%;
  font-size: 22px;
  margin: 15px 0px;
} */

header {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  position: relative;
  height: 100px;
  z-index: 7;
}

ul {
  background: var(--secondary-color);
  position: absolute;
  width: 100%;
  top: 70px;
  padding: 15px;
  right: 0%;
}

ul li {
  display: block;
  padding: 12px 0px;
}

li a {
  text-decoration: none;
  color: var(--third-color);
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

li a:hover {
  color: var(--primary-color);
}

.active {
  color: var(--primary-color);
}

.burger,
.burgerClose {
  position: absolute;
  right: 5%;
  font-size: 65px;
  color: var(--secondary-color);
  margin: 20px 0px;
  cursor: pointer;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.responsiveNav {
  width: 100%;
  display: flex;
  height: 315px;
  text-align: center;
}

.desktopNav {
  display: none;
}

@media only screen and (min-width: 1024px) {
  main {
    margin-top: 0em;
  }

  /* Header Section */

  .responsiveNav {
    display: none;
  }

  .desktopNav {
    display: flex;
  }

  .DesktopNavLinks {
    position: relative;
    margin: 0 50px;
  }

  ul li {
    display: inline-flex;
    margin: 0 15px;
    padding: 0px;
  }

  header {
    position: fixed;
    background-color: var(--secondary-color);
    height: 150px;
    align-items: center;
  }

  /* .adminSection {
    left: 8%;
    margin: 0px 15px;
  } */

  ul {
    position: unset;
  }
}
